<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>{{title}}</title>

  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->
  <link rel="apple-touch-icon" sizes="180x180" href="/public/assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/assets/img/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/x-icon" href="/public/assets/img/favicons/favicon.ico">
  <link rel="manifest" href="/public/assets/img/favicons/manifest.json">
  <meta name="msapplication-TileImage" content="/public/assets/img/favicons/mstile-150x150.png">
  <meta name="theme-color" content="#ffffff">

  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  {{!-- <link
    href="../../../fonts.googleapis.com/cssc6ef.css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900"
    rel="stylesheet"> --}}
  <link href="/public/assets/lib/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet">
  <style>
    body {
      background-color: #edf2f9;
      display: block;
    }
  </style>
  <link href="/public/assets/lib/datatables-bs4/dataTables.bootstrap4.min.css" rel="stylesheet">
  <link href="/public/assets/lib/datatables.net-responsive-bs4/responsive.bootstrap4.css" rel="stylesheet">
  <link class="style" href="/public/assets/css/theme.min.css" rel="stylesheet" id="theme-style">
  {{!-- <link class="style" href="/public/assets/css/theme-dark.min.css" rel="stylesheet" id="theme-style-dark"> --}}
  {{!-- <link class="style" href="/public/assets/css/theme-rtl.min.css" rel="stylesheet" id="theme-style-rtl"> --}}
  {{!-- <link class="style" href="/public/assets/css/theme-dark-rtl.min.css" rel="stylesheet" id="theme-style-dark-rtl"> --}}
</head>

<body>
    {{{body}}}


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    {{!-- <script src="/public/assets/js/jquery.min.js"></script>
    <script src="/public/assets/js/popper.min.js"></script>
    <script src="/public/assets/js/bootstrap.min.js"></script> --}}
    <script src="/public/assets/lib/stickyfilljs/stickyfill.min.js"></script>
    <script src="/public/assets/lib/sticky-kit/sticky-kit.min.js"></script>
    <script src="/public/assets/lib/is_js/is.min.js"></script>
    <script src="/public/assets/lib/lodash/lodash.min.js"></script>
    <script src="/public/assets/lib/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/public/assets/lib/chart.js/Chart.min.js"></script>
    <script src="/public/assets/lib/echarts/echarts.min.js"></script>
    <script src="/public/assets/lib/echarts/world.js"></script>
    <script src="/public/assets/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/public/assets/lib/datatables-bs4/dataTables.bootstrap4.min.js"></script>
    <script src="/public/assets/lib/datatables.net-responsive/dataTables.responsive.js"></script>
    <script src="/public/assets/lib/datatables.net-responsive-bs4/responsive.bootstrap4.js"></script>
    <script src="/public/assets/js/theme.min.js"></script>
    <script src="/public/assets/lib/%40fortawesome/all.min.js"></script>
  </body>
</html>
